{% extends 'base.html' %}
{% block title %}
    基础模板
{% endblock %}
=''
{% block cssjs %}
    <link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ihome/main.css') }}" rel="stylesheet">
{% endblock %}}

{% block content %}
{% endblock %}